[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "emoji-cli"]
	path = emoji-cli
	url = https://github.com/b4b4r07/emoji-cli.git
